ENVIRONMENT=production
HOST="0.0.0.0"
PORT="8080"

BASIC_AUTH_USER=admin
BASIC_AUTH_PASSWORD=super_secret
SHEET_BASE_URL="https://myserver/remote.php/dav/files"
XLSX_FILE_PATH="Documents/Finances/Test.xlsx"
KEY_COLUMN=D
VALUE_COLUMN=E
START_ROW=2

TELEGRAM_BOT_TOKEN="1234:ABCD"
TELEGRAM_ALLOWED_USERS="1234"

SERVICE_HOST="https://mycoolbot.com"

REDIS_HOST="redis:6379"
