services:
  valkey:
    image: valkey/valkey:9-alpine
    profiles:
      - db
      - all
    restart: always
    ports:
      - "6379:6379"
    networks:
      - internal_network
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  editor:
    image: pob-91/telegram-spreadsheet-editor:latest
    profiles:
      - all
    ports:
      - "8080:8080"
    env_file:
      # Use .env.example to create a .env file to load here
      - .env
    environment:
      - VALKEY_HOST=valkey:6379
    volumes:
      # Use config.example.yaml to create a config.yaml file to load here
      - ./config.yaml:/home/nonroot/config.yaml
    networks:
      - internal_network
    depends_on:
      valkey:
        condition: service_healthy

networks:
  internal_network:
    name: internal_network
