ENVIRONMENT=production
LOG_LEVEL="Warning"
CONFIG_PATH="config.yaml"

ROB_TELEGRAM_TOKEN="1234:ABCD"
ROB_NEXTCLOUD_PASSWORD=super_secret

ALICE_TELEGRAM_TOKEN="1234:ABCD"
ALICE_NEXTCLOUD_PASSWORD=super_secret

VALKEY_HOST="valkey:6379"
